@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

:root {
  --primary-color: #00E676;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
  font-size: .7rem; 
}


.border-primary {
  border-color: var(--primary-color);
}
